:root {
    --color-primario: #1680d1;
    --fuente-principal: 'Helvetica Neue', Arial, sans-serif;
}
body {
    font-family: var(--fuente-principal);
    margin: 20px;
}
h1 {
    color: var(--color-primario);
}
button {
    background-color: var(--color-primario);
    color: rgb(150, 33, 33);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}